<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <title>Document</title>
  </head>
  <body class="bg-[#398AB9]">
    {% include 'navbar.html' %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

    <div class="p-2 w-full">
        {% block content %} 

        {% endblock %}
    </div>
  </body>

  <style>
    .buttonInd {
      padding: 0.3em 1.2em;
      font-size: 12px;
      border-radius: 0.5em;
      background: #e8e8e8;
      border: 1px solid #e8e8e8;
    }
    .buttonCreate{
      border-radius: 0.5em;
    }
  </style>
</html>
