
    <div class="mt-2">
      {% for room in rooms %}
      <div class="mb-4 p-4 rounded-md flex flex-col border-4 border-gray-300">
        <a href="{% url 'profile' room.host.id %}">@{{room.host.username}}</a>
        <h5 class="mb-6">
          {{room.id}}. <a href="{% url 'room' room.id %}">{{ room.name }}</a>
        </h5>
        <div class="mb-4">
          {% if request.user == room.host %}
          <a class="buttonInd" href="{% url 'update' room.id %}">Edit</a>
          <a class="buttonInd" href="{% url 'delete' room.id %}">Delete</a>
          {% endif %}
        </div>
        <div class="w-20 mb-2">
          <small
            class="bg-gray-100 p-1 px-2 rounded-xl text-gray-400 self-center"
            >{{room.topic.name}}</small
          >
        </div>
      </div>
      {% endfor %}
    </div>